// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../../core/resource';
import { APIPromise } from '../../core/api-promise';
import { RequestOptions } from '../../internal/request-options';

export class Metadatas extends APIResource {
  /**
   * This endpoint is used to create user metadata
   *
   * @example
   * ```ts
   * const metadata = await client.users.metadatas.create();
   * ```
   */
  create(
    body: MetadataCreateParams | null | undefined = {},
    options?: RequestOptions,
  ): APIPromise<MetadataCreateResponse> {
    return this._client.post('/api/users/metadatas', { body, ...options });
  }

  /**
   * This endpoint is used to get user metadata
   *
   * @example
   * ```ts
   * const metadatas = await client.users.metadatas.list();
   * ```
   */
  list(
    query: MetadataListParams | null | undefined = {},
    options?: RequestOptions,
  ): APIPromise<MetadataListResponse> {
    return this._client.get('/api/users/metadatas', { query, ...options });
  }
}

/**
 * Schema for a user metadata
 */
export interface MetadataCreateResponse {
  /**
   * Unique identifier for the user metadata
   */
  id: string;

  /**
   * Timestamp when the wallet was created
   */
  createdAt: string;

  /**
   * Unique identifier for the organization
   */
  organizationId: string;

  user: MetadataCreateResponse.User;

  /**
   * User group associated with the user
   */
  userGroup: MetadataCreateResponse.UserGroup | null;

  /**
   * Identifier for the user group set via api
   */
  userGroupId: string | null;

  /**
   * Identifier for the user wallet group set via api
   */
  walletGroupIdentifier: string | null;

  /**
   * Unique identifier for the website
   */
  websiteId: string;
}

export namespace MetadataCreateResponse {
  export interface User {
    /**
     * Id for the user
     */
    id: string;

    /**
     * Wallet address of the user
     */
    walletAddress: string;
  }

  /**
   * User group associated with the user
   */
  export interface UserGroup {
    /**
     * id for the user group
     */
    id: string;

    /**
     * External identifier for the user group
     */
    externalIdentifier: string | null;
  }
}

/**
 * Response schema for fetching user metadata
 */
export interface MetadataListResponse {
  data: Array<MetadataListResponse.Data>;

  /**
   * Indicates if there are more records available
   */
  hasNextPage: boolean;
}

export namespace MetadataListResponse {
  export interface Data {
    /**
     * Unique identifier for the user metadata
     */
    id: string;
  }
}

export interface MetadataCreateParams {
  bio?: string | null;

  blockStatusReason?:
    | 'sybil_and_multi_account'
    | 'account_migration'
    | 'abuse_manipulation'
    | 'not_sybil'
    | 'issue_resolved'
    | 'twitter_suspended'
    | 'other'
    | null;

  discordUser?: string | null;

  discordUserId?: string | null;

  displayName?: string | null;

  emailAddress?: string | null;

  epicAccountIdentifier?: string | null;

  externalIdentifier?: string | null;

  externalLoyaltyScore?: string | null;

  githubUser?: string | null;

  githubUserId?: string | null;

  googleUser?: string | null;

  googleUserId?: string | null;

  internalNotes?: string | null;

  isBlocked?: boolean;

  isBlockExempt?: boolean;

  location?: string | null;

  logoUrl?: string | null;

  organizationId?: string;

  portfolioUrl?: string | null;

  steamUserId?: string | null;

  steamUsername?: string | null;

  sybilScore?: number | null;

  telegramUserId?: string | null;

  telegramUsername?: string | null;

  tiktokUser?: string | null;

  tiktokUserId?: string | null;

  twitterUser?: string | null;

  twitterUserFollowersCount?: number | null;

  twitterUserId?: string | null;

  userGroupExternalIdentifier?: string | null;

  userGroupId?: string;

  userId?: string;

  walletAddress?: string;

  walletGroupIdentifier?: string | null;

  websiteId?: string;

  YTChannelId?: string | null;
}

export interface MetadataListParams {
  /**
   * External identifier for the user
   */
  externalIdentifier?: string | null;

  /**
   * Number of records to fetch
   */
  limit?: number;

  /**
   * UUID of the organization
   */
  organizationId?: string;

  /**
   * Fetch records starting after this ID
   */
  startingAfter?: string;

  /**
   * UUID of the user
   */
  userId?: string;

  userSearch?: string;

  /**
   * Wallet address of the user
   */
  walletAddress?: string;

  /**
   * UUID of the website
   */
  websiteId?: string;
}

export declare namespace Metadatas {
  export {
    type MetadataCreateResponse as MetadataCreateResponse,
    type MetadataListResponse as MetadataListResponse,
    type MetadataCreateParams as MetadataCreateParams,
    type MetadataListParams as MetadataListParams,
  };
}
