// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../../core/resource';
import { APIPromise } from '../../core/api-promise';
import { RequestOptions } from '../../internal/request-options';

export class QuestionsResponses extends APIResource {
  /**
   * Retrieve responses submitted by the authenticated user, optionally filtered by
   * question IDs
   *
   * @example
   * ```ts
   * const questionsResponses =
   *   await client.loyalty.questionsResponses.list();
   * ```
   */
  list(
    query: QuestionsResponseListParams | null | undefined = {},
    options?: RequestOptions,
  ): APIPromise<QuestionsResponseListResponse> {
    return this._client.get('/api/loyalty/questions_responses', { query, ...options });
  }

  /**
   * This endpoint allows you to submit a response to a question.
   *
   * @example
   * ```ts
   * const response =
   *   await client.loyalty.questionsResponses.submit({
   *     loyaltyQuestionChoiceId:
   *       '123e4567-e89b-12d3-a456-426614174001',
   *   });
   * ```
   */
  submit(
    body: QuestionsResponseSubmitParams,
    options?: RequestOptions,
  ): APIPromise<QuestionsResponseSubmitResponse> {
    return this._client.post('/api/loyalty/questions_responses', { body, ...options });
  }
}

/**
 * List of question responses with details
 */
export interface QuestionsResponseListResponse {
  data: Array<QuestionsResponseListResponse.Data>;

  /**
   * Indicates if there are more pages of results available
   */
  hasNextPage: boolean;
}

export namespace QuestionsResponseListResponse {
  /**
   * Response details including the question and choice information
   */
  export interface Data {
    id: string;

    createdAt: string;

    isCorrect: boolean;

    loyaltyQuestionChoiceId: string;

    loyaltyQuestionId: string;

    question: Data.Question;

    userId: string;
  }

  export namespace Data {
    export interface Question {
      loyaltyQuestionChoices: Array<Question.LoyaltyQuestionChoice>;

      text: string;
    }

    export namespace Question {
      export interface LoyaltyQuestionChoice {
        id: string;

        isCorrect: boolean;

        text: string;
      }
    }
  }
}

/**
 * Response returned when submitting an answer to a question
 */
export interface QuestionsResponseSubmitResponse {
  /**
   * Whether the user had already submitted an answer to this question
   */
  alreadySubmitted: boolean;

  /**
   * Whether the submitted answer was correct
   */
  isCorrect: boolean;

  response: QuestionsResponseSubmitResponse.Response;
}

export namespace QuestionsResponseSubmitResponse {
  export interface Response {
    /**
     * UUID of the response
     */
    id: string;

    /**
     * UUID of the selected choice
     */
    loyaltyQuestionChoiceId: string;

    /**
     * UUID of the question being answered
     */
    loyaltyQuestionId: string;

    /**
     * UUID of the user who submitted the response
     */
    userId: string;
  }
}

export interface QuestionsResponseListParams {
  /**
   * Maximum number of records to return (max 100)
   */
  limit?: number;

  /**
   * UUID of the organization to filter responses
   */
  organizationId?: string;

  /**
   * UUID(s) of the questions to filter responses
   */
  questionsId?: string | Array<string>;

  /**
   * Pagination cursor to start after a specific resource ID
   */
  startingAfter?: string;

  /**
   * UUID of the user to filter responses
   */
  userId?: string;

  /**
   * UUID of the website to filter responses
   */
  websiteId?: string;
}

export interface QuestionsResponseSubmitParams {
  /**
   * UUID of the selected choice
   */
  loyaltyQuestionChoiceId: string;

  /**
   * UUID of the organization to filter responses
   */
  organizationId?: string;

  /**
   * UUID of the user who submitted the response
   */
  userId?: string;

  /**
   * UUID of the website to filter responses
   */
  websiteId?: string;
}

export declare namespace QuestionsResponses {
  export {
    type QuestionsResponseListResponse as QuestionsResponseListResponse,
    type QuestionsResponseSubmitResponse as QuestionsResponseSubmitResponse,
    type QuestionsResponseListParams as QuestionsResponseListParams,
    type QuestionsResponseSubmitParams as QuestionsResponseSubmitParams,
  };
}
